.star {
    width: 1em;
    height: 1em;
    fill: rgb(199, 196, 14);
}

.product-img {
    height: 10em;
    width: 10em;
}

.card{
    
    .btn-secondary{
        margin-right:1em;
    }

   .btbuy{
    color: rgb(17, 17, 16);
    background: #e6f703;
  

   }

   margin-bottom: 1em;
   margin-right: 0em;
    
}
.btn-outline-info{

margin-bottom: 0.5em;

    
}

.b{
    margin-left: 4em;
}


.strikethrough {
    text-decoration: line-through;
    color: red;
  }
  .card-title{

    size-adjust: 100%;
  }

  .co{

    color: #10774c;
  }